.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1vw!important;
  padding: 1vw 3vw 3vw;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90vw;
  margin: 0 auto;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.form-caption {
  font-size: 3vw;
  font-weight: bold;
  margin: 0;
}

.available-funds {
  font-size: 3vw;
  margin: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  .form-header {
    display: block;
  }

  .form-caption {
    font-size: 4.5vw;
  }

  .available-funds {
    font-size: 4.5vw;
  }
}

.available-funds p {
  margin: 0;
  line-height: 1;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.last-field {
  flex: 0 0 100%;
}

.mat-mdc-raised-button:disabled {
  cursor: not-allowed !important;
  pointer-events: auto;
}

.form-buttons button {
  width: 47.5%;
}

mat-form-field {
  flex: 1 1 30%;
}

@media (max-width: 768px) {
  mat-form-field {
    flex: 1 1 45%;
  }
}

@media (max-width: 576px) {
  mat-form-field {
    flex: 1 1 80%;
  }
}

.error-message {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(219, 100, 100);
  color: white;
  padding: 3vw 7vw;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}
