<!-- app.component.html -->
<main class="main">
  <app-campaign-form
    [campaign]="null"
    (formSubmitted)="onFormSubmitted($event)"
    [availableFunds]="availableFunds"
    >
  </app-campaign-form>

  <app-campaign-list
    [campaigns]="campaigns"
    (campaignSelected)="onCampaignSelected($event)">
  </app-campaign-list>

  <div *ngIf="showModal" class="modal" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <app-campaign-form
        [showModal]="showModal"
        (closeModal)="closeModal()"
        [campaign]="selectedCampaign"
        (formSubmitted)="onCampaignUpdated($event)"
        [availableFunds]="availableFunds"
        [allFunds]="allFunds">>
      </app-campaign-form>
    </div>
  </div>
</main>
