.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 8px;
  overflow: auto;
  width: 96vw;
}

table {
  width: 100%;
  margin: 16px 0;
  border-collapse: separate;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th.mat-header-cell, td.mat-cell {
  padding: 8px;
  text-align: right;
  background-color: red;
}

.mat-mdc-table th.mat-mdc-header-cell,
.mat-mdc-table td.mat-mdc-cell {
  padding: 8px;
  text-align: center;
  width: 12.5%;

}

.mat-mdc-table tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.mat-mdc-table th {
  pointer-events: none;
}

.mat-mdc-table th.mat-mdc-header-cell {
  font-weight: bold;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}
